/* overall content */
body
{
	font-family:verdana;
	font-size:12px;
	color:black;
	margin:10px;
	padding:10px;
}

#center
{
	width: 1100px;
	text-align:left;
	margin:0;
	padding:0;
}

/* main headings */
h1
{
	font-size:20px;
}


/* secondary headings */
h2
{
	font-size:16px;
}

/* lists for navigation */
li.nav
{
	display:inline;
}

/* hypertext links */
a:link
{
	text-decoration:underline;
}

a:visited
{
	text-decoration:underline;
}

a:hover
{
	font-weight: bold;
}

a:active
{
	text-decoration:underline;
}

/* images */
img
{
	border:none;
}